#contact {
    margin: 0 auto;
    padding: 100px 0;

    width: 100%;
    height: 100vh;

    background-color: var(--light);
    color: var(--dark);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    font-family: var(--rajdhani);
    text-transform: uppercase;
}

#contact form {
    width: 1000px;
    max-width: 1440px;

    height: 60vh;

    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
}

#contact form .row {
    width: 60%;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

}

#contact form p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;

    margin-top: 15px;
    font-weight: 600;
}

#contact form p input {
    border: none;
    outline: none;
    padding-bottom: 5px;
    background: transparent;
    border-bottom: 1px solid var(--dark);

    min-width: 100px;
    width: 250px;
}

#subject {
    margin: 0 auto;
    width: 60%;
    align-self: flex-start;
}

#message {
    margin: 0 auto;
    width: 60%;
    align-self: flex-start;
}

#message textarea{
    width: 100%;
    max-width: 100%;
    outline: none;
    background-color: var(--light);
    border: 1px solid var(--dark);
}

#submit {
    margin-top: 15px;
    padding: 10px 22px;

    outline: none;
    border: 1px solid var(--dark);

    background: none;

    text-transform: uppercase;

    cursor: pointer;
}

#submit-p {
    margin: 0 auto;
    width: 60%;
    align-self: flex-start;
}